/*basic styling */
* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  font-family: 'Roboto', sans-serif;
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 50px 90px;
  -webkit-box-shadow: 4px 9px 12px 4px rgba(0, 0, 0, 0.43);
  box-shadow: 4px 9px 12px 4px rgba(0, 0, 0, 0.43);
}

#lookUp{
  position: relative;
  margin-top: 5em;
  left: 20%;
}

#errorInput{
  visibility: hidden;
  color: #ff3535;
  font-size: 16px;
  font-weight: bold;
}

#error{
  position: relative;
  top: 9px;
  left: 5%;
  width: 69%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: red;
  background-color: #ffc8c8;
  padding: 11px;
  border: 2px solid red;
}

#success{
  position: relative;
  top: 9px;
  left: 5%;
  width: 69%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 11px;
  color: #83b443;
  background-color: #e3ffda;
  border: 2px solid #83b443;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}

/* form styling  */
.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* label */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

/* bottom bar */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* highlight */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animations */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
